html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.7);
  background: #3c4556;
  height: 100%;
}

@font-face {
  font-family: "SourceCodePro";
  src: local("SourceCodePro"),
    url(./fonts/SourceCodePro-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "Permanent Marker";
  src: local("Permanent Marker"),
    url(./fonts/PermanentMarker-Regular.ttf)
      format("truetype");
}
